<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}} - {{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{appName}} - {{title}}">
    <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="MEAN - A Modern Stack">
    <meta property="fb:admins" content="APP_ADMIN">

    {% for file in assets.css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}

    <link rel="stylesheet" href="/modules/aggregated.css">

    <script type="text/javascript" src="public/system/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/system/lib/cloudinary_js/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="public/system/lib/cloudinary_js/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="public/system/lib/cloudinary_js/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="public/system/lib/cloudinary_js/js/jquery.cloudinary.js"></script>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
