<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">
		<div class="form-group">
			<label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="article.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label mean-token="'edit-content'" for="content" class="col-md-2 control-label">Content</label>
			<div class="col-md-10">
				<textarea data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
			</div>
		</div>
		<div class="form-group">
			<label mean-token="'edit-image'" for="image" class="col-md-2 control-label">Images</label>
			<div class="col-md-10">
        <div id="photo-upload-btn" ng-show="article.images.length < maxUpload && !uploading" class="photo-upload-btn" cl-upload data="cloudinaryData"></div>
        <div ng-hide="article.images.length < maxUpload" class="label label-info">{{maxUpload}} upload per article</div>
      </div>
      <div class="col-md-10">
        <br />
        <div class="progress" ng-show="uploading">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
            <span class="sr-only">{progress% Complete (success)</span>
          </div>
        </div>
        <div class="well" ng-show="article.images.length > 0">
          <span href="" class="thumbnail" ng-repeat="image in article.images">
            <button class="close glyphicon glyphicon-remove" ng-click="removeImage(image)" ></button>
            <img cl-image class="myClass" id="profilePhoto" height="95" data-crop="fit" public-id="image"/>
          </span>
        </div>
      </div>
    </div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>
