<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <span>{{article.created | date:'medium'}}</span> /
  <span>{{article.user.name}}</span>
  <h2>{{article.title}}</h2>


  <div>{{article.content}}</div>

  <div data-ng-show="global.user._id == article.user._id">
    <a class="btn" href="/#!/articles/{{article._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>


  <div style="width: {{widthCarousel}}px">
    <carousel interval="myInterval">
    <slide ng-repeat="image in article.images">
    <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
    <img cl-image class="myClass" id="profilePhoto" width="{{widthCarousel}}" data-crop="fit" public-id="image"/>
    <div class="carousel-caption">
      <!--<h4>{{article.}}</h4>-->
      <!--<p>{{article.}}</p>-->
    </div>
    </slide>
    </carousel>
  </div>

</section>
